* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form article {
    display: flex;
    flex-direction: column;
}

form article div {
    display: flex;
}

form div#Btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form div#Btns button {
    width: 100%;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid salmon;
    margin: 10px;
    cursor: pointer;
    outline: none;
}

form div#Btns button:nth-child(1) {
    background-color: red;
}

form div#Btns button:nth-child(2) {
    background-color: green
}

form div#Btns button:hover {
    opacity: .8;
}

form div#Btns button:active {
    opacity: .5;
}