* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        form {
            width: 33%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            border: 4px solid #3893b1;
            background: lightgreen;
            box-shadow: 10px 10px 4px lightgrey;
            transition: 0.5s transform;
            &:hover,
            &:focus {
                transform: scale(1.2);
            }
            * {
                margin-top: 10px;
                outline: none;
            }
            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                * {
                    width: 100%;
                    box-sizing: border-box;
                }
                input {
                    padding: 10px 16px;
                    font-size: 20px;
                    font-weight: 600;
                    border: 2px solid royalblue;
                    border-radius: 6px;
                    box-shadow: 1px 1px black;
                    cursor: pointer;
                    transition: .5s;
                    &:hover {
                        box-shadow: 2px 2px black;
                        transform: scale(1.1);
                        &:active {
                            box-shadow: 4px 4px 2px black;
                            background-color: snow;
                        }
                    }
                    &:focus {
                        box-shadow: 10px 10px 8px black;
                        background-color: #f3f3f3;
                        cursor: text;
                        transform: scale(1.3);
                    }
                }
            }
            button {
                width: 100%;
                padding: 10px 0;
                font-size: 20px;
                font-weight: 800;
                border: 4px solid black;
                border-radius: 10px;
                background-color: aqua;
                box-shadow: 2px 2px grey;
                outline: none;
                cursor: pointer;
                transition: 1s;
                &:hover {
                    color: whitesmoke;
                    box-shadow: 6px 6px 4px black;
                    transform: scale(1.2);
                    &:active {
                        background-color: black;
                    }
                }
            }
        }
    }
}